.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.flex-container {
    display: flex;
    border: thin solid rgba(0, 0, 0, 0.5);
    gap: 20px;
}

.vert-flex-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    /* align-items: center; */
    opacity: 0.5;
}

.vert-flex-container:hover {
    /* background-color: rgba(0, 0, 0, 0.5);
    color: red; */
    opacity: 1;
}

h1, p {
    margin: 0;
    padding: 0;
}

img {
    height: 200px;
}